/* Преимущества */
.advantsges {
    background: #222224;

    &-wrap   {
        display: flex;
        justify-content: space-between;

        @media  (max-width: $tablet-breakpoint) {
            flex-direction: column;
        }
    }
}

.advantage-delivery  {
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 134px;
    margin: 133px  0;

    @media  (max-width: $tablet-breakpoint) {
        margin: 48px  0;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.advantage-sales    {
    background-image: url(../img/sales.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 134px;
    margin: 133px  0;

    @media  (max-width: $tablet-breakpoint) {
        margin: 48px  0;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.advantage-quality {
    background-image: url(../img/quality.svg);
    background-repeat: no-repeat;
    background-position: center top;
    height: 134px;
    margin: 133px  0;

    @media  (max-width: $tablet-breakpoint) {
        margin: 48px 0 64px;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
}

.advantage-header   {
    margin: 60px 0 16px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
}

.advantage-paragraph    {
    font-weight: 300;
    @include textstd;
    text-align: center;
    color: #FBFBFB;
    width: 360px;
    margin: 0;
}

.advantage-paragraph-center {
    @media  (max-width: $tablet-breakpoint) {
        display: flex;
        justify-content: center;
    }
}