/* Подвал сайта */
.footer {
    background-color: #222;

    &-wrap    {
        display: flex;
        justify-content: space-between;

        @media  (max-width: $phone-breakpoint) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }
}

.copy-text  {
    margin: 30px  0;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

    @media  (max-width: $phone-breakpoint) {
        text-align: center;
        margin-top: 0;
        margin-bottom: 9px;
    }
}

.socail  {
    margin: 24px    0;
    display: flex;
    
    @media  (max-width: $phone-breakpoint) {
        justify-content: center;
        margin: 43px 0 40px;
    }
}

.socail-link    {
    color: #000000;
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 7px;
    transition: 0.5s;

    &:hover    {
        color: #FFFFFF;
        background-color: #F16D7F;
    }
    
}