/* Шапка сайта */
.header {
    background-color: #222222;
    /* color: #fff; */
    padding: 18px   0;
    position: relative;
}

.header-wrap    {
    display: flex;
    justify-content: space-between;
}

.logo-link  {
    margin-right: 41px;
}

.registration-link    {
    margin: 0 33px;
}

.header button  {
    background-color: transparent;
    border: none;
}